QPushButton { background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 white, stop:1 rgb(188,198,204)); }
QPushButton:pressed { background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(188,198,204), stop:1 white); }
QLabel#banner { color: rgb(253, 208, 35); background-color: rgb(53, 13, 104); border-color: rgb(253, 208, 35); border-width: 4px; border-style: groove }
